<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1">
                        <wm-list name="list1">
                            <wm-list-item name="list_item1">
                                <wm-composite name="composite1">
                                    <wm-label class="col-md-3" name="label1"></wm-label>
                                    <wm-container class="col-md-9" name="container1">
                                        <wm-text name="text1"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-list-item>
                        </wm-list>
                    </wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
</wm-page>